/* You can add global styles to this file, and also import other style files */


$Navy         : #ffffff; /* Background color */
$NavyClear    : #dedddd;
$LightNavy    : #112240;
$LightestNavy : #303C55; 
$Slate        : #1d2232;
$LightSlate   : #a8b2d1;
$LightestSlate: #003264; /* menu text color */
$White        : #000000;
$Green        : #007fff; /* Numbers + Highlights */
$GreenOpacity : rgba(100,255,218,0.07);

$MainFont: Calibre,San Francisco,SF Pro Text,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Helvetica Neue,Segoe UI,Arial,sans-serif;
$CodeFont: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, Monospace;
